<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lowland Applied Research Company</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top py-3">
<div class="container-fluid">
    <a class="navbar-brand" href="<%= Routes.page_path(@conn, :index) %>"><img src="/static/images/larc-bird.png" height="40"></a> 
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= Routes.page_path(@conn, :index) %>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Current Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#meet-the-team">Meet the Team</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#Mymodal">Contact Us</a>
          </li>
      </ul>
    </div>
</div>
</nav>

<header class="header">

<!-- Contact Model -->
<div class="modal fade" id="Mymodal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                	&times;
                </button> 
				<h4 class="modal-title">
            Contact Us
        </h4>                                                             
			</div> 
			<div class="modal-body">
          <%= live_render(@conn, LarcWebsiteWeb.ClientLive) %>
			</div>   
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
                	Close
                </button>
			</div>
		</div>                                                                       
	</div>                                      
</div>
</div>

<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="/static/images/ms-river.mp4#t=15" type="video/mp4">
</video>
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
      <h1 class="display-3">Lowland Applied Research Company</h1>
    </div>
  </div>
</div>

</header>

<body>
  <main role="main">
    <%= unless is_nil(get_flash(@conn, :info)) do %>
      <p class="alert alert-info fadeIn" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= unless is_nil(get_flash(@conn, :error)) do %>
      <p class="alert alert-danger fadeIn" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>
    <%= @inner_content %>
  </main>
</body>

<footer>
  <div class="container text-center">
    &copy 2020 Lowland Research Company. All Rights Reserved.  
  </div>
</footer>

</html>
