<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LarcWebsite · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <a name="top">
    <header>
      <section class="company-header">

      <div id="company-name">
        <div class="parallax">

          <nav class="mainNav">
            <a style="float:right"> <%= link "LARC", to: Routes.page_path(@conn, :index) %> </a> 
            <a><%= link "Contact Us", to: Routes.client_path(@conn, :contact) %></a>
            <a href="#about">About </a>
            <a class="active" href="#top">Home </a>
          </nav>

          <h1 class="centered">Lowland Applied Research Company</h1>
        </div>
      </div>

      </section>
    </header>
    </a>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
