/* Icon Section Styling */ 

section {
  opacity: 0;
  transition: opacity 1s;
  transform: translate(0, 20px);
  transition: all 2s;
  color: #fff; 
}
  
section.visible { 
  opacity: 1;
  transform: (0,0);
  color: #fff; 
}

.icon-header{
  text-align: center;
  margin: 4%;
}

/* This causes the icons to be not centered when they are in a single column*/
/* There is most likely a better solution for evenly spaced columns*/ 

.col-lg-2 {
  margin-left: 2.75%; 
  margin-bottom: 3%;
}

.col-lg-2 h5{
  margin-top: 1%;
  font-weight: bold;
  line-height: 30px;
}
