/* This file is for your main application css. */
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/nprogress/nprogress.css"; 

/* Imports for Each Seperate Component */
@import "./nav-bar.css"; 
@import "./about-icons.css"; 
@import "./parallax.css";
@import "./carousel.css"; 
@import "./the-team.css"; 
@import "./contact-modal.css"; 
@import "./animations.css"; 

/* Shared CSS for All Sections */ 

html, body{
  height: 100%; 
  width: 100%;
  color: #222; 
  scroll-behavior: smooth;
  background-color:	#fff;
  // Text Color: #708090
}

.full-height{
  padding-top: 3px;
  height: 100%; 
}

section{
  width: auto;
  margin: 0px; 
  padding: 0em;
  overflow: hidden;
}

.container-fluid > .row{
  margin-top: 30px; 
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

h1, h2{
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header Video Styling */
header {
  position: relative;
  background-color: #838B8B;
  width: 100%;
  height: 100%;  
  overflow: hidden;
}

header video {
  position: absolute;
  top: 0%;
  left: 0.01%; 
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  filter: brightness(40%); 
  -webkit-filter: brightness(40%); 
}

header .center{
  margin: 0 auto; 
  display: block; 
}

header .container {
  position: relative;
  z-index: 2;
}

hr{
  display: block; 
  height: 3px;
  border: 0; 
  border-top: 3px solid #ccc;
  margin: 1em 0; 
  padding: 0;
}

.border{
  border-width: 3px !important;
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
  margin-bottom: 0;
  background-color: #233142;
}

footer{
  border-top: 3px solid #708090; 
  padding: 40px; 
  background-color: #708090;
  color: white;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
