/* Contact Us Parallax Styling */
.paral {
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
}

.paral .container{
  margin: 3%; 
}

.paral h1{
  color: #fff;
  text-shadow: 3px 3px 15px #000;
  margin-bottom: 0px;
}

.paralsec0{
  background-image: url(/static/images/ms-river-2.jpg);
}

