/* Contact Us Parallax Styling */
.paral {
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  background-position: 50% 50%;
}

.paral .container{
  margin: 3%; 
}

.paral h1{
  color: #fff;
  text-shadow: 3px 3px 15px #000;
  margin-bottom: 0px;
}

.paralsec0{
  background-image: url(/static/images/ms-river-2.jpg);
}

.paral button{
  font-size: 24px; 
  font-weight: lighter;
  background-color: Transparent;
  border: 2px solid #fff; 
}

.paral button:hover{
  color: #e6ae75; 
  background: transparent;
  border: 2px solid #e6ae75; 
}

.paral button:focus{
  font-size: 24px; 
  font-weight: lighter;
  background-color: Transparent;
  border: none; 
}

.paral button:visited{
  border: 0px; 
}
