/* Team Cards Styling */

.single-content{
  position: relative; 
  transition: 0.3s;
}

.single-content .text-content,
.single-content:after{
  position: absolute; 
  left: 20px; 
  right: 20px; 
}

.single-content:after{
  content: '';
  display: block; 
  background: black; 
  top: 20px; 
  bottom: 20px; 
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.single-content:hover:after{
  opacity: 0.6;
  transition: all ease-in-out 0.3s;
}

.single-content img{
  width: 100%; 
  height: 100%; 
}

.text-content{
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.25s;
  text-align: center;
}

.single-content:hover .text-content{
  opacity: 1;
  transform: translate(0,-50%);
  transition-delay: 0.2s;
  color: #fff;
}
