<!-- Contact Us Parallax -->
<div class="jumbotron paral paralsec0">
  <div class="container">
    <h1 class="display-3">Want to Get in Touch?</h1>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Mymodal">
      Contact Us
    </button>
  </div>
</div>
