<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lowland Applied Research Company</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Script for fade-in with scolling -->
    <script>
        function showImages(el) {
            var windowHeight = jQuery( window ).height();
            $(el).each(function(){
                var thisPos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (topOfWindow + windowHeight - 100 > thisPos ) {
                    $(this).addClass("fadeIn");
                }
            });
        }

        // if the image in the window of browser when the page is loaded, show that image
        $(document).ready(function(){
                showImages('.river');
        });

        // if the image in the window of browser when scrolling the page, show that image
        $(window).scroll(function() {
                showImages('.river');
        });
    </script>
  </head>
<body>

<div class="jumbotron">
  <h1 class="animated fadeIn">Who we are</h1>
  <hr>
  <p class="lead animated fadeIn">Established in 2018, Lowland Applied Research Company (LARC) is dedicated to providing scientific, technical, and data-driven solutions to decision-support problems for a variety of organizations. With an eye to the future, a mind open to innovation, and a heart for the economies and ecologies of the Lower Mississippi River Valley region, LARC stands ready to help. </p>
</div>

<a name="about"> 

<!-- First Parallax Section -->
<div class="jumbotron paral paralsec0">
  <h1 class="display-3">FRIENDS OF THE MISSISSIPPI RIVER BASIN MODEL</h1>
  <p class="lead">In partnership with the Friends of the Mississippi River Basin Model, LARC was able to provide a set of geolocated maps for use by visitors of the Model.</p>
  <p class="lead">
  <a class="btn btn-info btn-lg btn-md" href="#" role="button">Here is a button 1</a>
  </p>
</div>

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1">
  <h1 class="display-3">NATURAL PRODUCT CHEMISTRY</h1>
  <p class="lead">LARC is establishing methods for evaluating the purity, quality, and efficacy of natural medicines (e.g., kavalactones). This work is in partnership with the University of Mississippi Medical Center Department of Family Medicine.</p>
  <p class="lead">
  <a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
  </p>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2">
  <h1 class="display-3">STRUCTURE ACTIVITY RELATIONSHIPS</h1>
  <p class="lead">LARC is working with academic partners to develop cheminformatic tools for the determination of quantitative structure thermodynamic activity relationships (QSTAR) in blood albumin proteins.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
  </p>
</div>

<!-- Fourth Parallax Section -->
<div class="jumbotron paral paralsec3">
  <h1 class="display-3">PARTNERSHIPS THAT FOSTER CIVIC ENGAGEMENT</h1>
  <p class="lead">LARC is working with the National Center of Science and Civic Engagement to assist the Jackson Zoological Park in their strategic planning through undergraduate student science education and research.</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
  </p>
</div>


</a>

<!-- Tow Column Section -->
<div class="container-fluid padding">
<div class="row padding">
  <div class="col-lg-6 river">
      <img src="static/images/river.jpg" class="image-fluid"
      width="100%" height="100%">
  </div>
  <div class="col-lg-6">
      <h2>We bring a unique set of experience in a number of critical areas:</h2>
      <ul>
      <li>Analytical Chemistry</li>
      <li>Cheminformatics and Computational Chemistry</li>
      <li>Application Design, Big Data, and Scalable Analytics</li>
      <li>Cyber and Information Security</li>
      <li>Decision Support Systems</li>
      <ul>
  </div>
</div>

</a>
</div>

<!-- .Launch Modal Button-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Mymodal">
  Contact Us
</button>


<!-- The Team -->

<a name="meet-the-team">


<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet the Team</h1>
    </div>
    <hr>
</div>
</div>

<!-- Team Member Cards -->
<div class="container-fluid padding">
<div class="row padding">
  <div class="col-md-4">
      <div class="card">
          <img class="card-img-top" src="static/images/dr-reid.jpg">
          <div class="card-body">
              <h4 class="card-title">Reid Bishop, PhD</h4>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img class="card-img-top" src="static/images/dr-o-gwynn.jpg">
          <div class="card-body">
              <h4 class="card-title">David O'Gwynn, PhD</h4>
          </div>
      </div>
  </div>
</div>
</div>

</a>

</body> 
</html>
