<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lowland Applied Research Company</title>
    <script>
    $("#navbarSupportedContent").on('show.bs.collapse', function() {
        $('a.nav-link').click(function() {
            $("#navbarSupportedContent").collapse('hide');
        });
    });;
    </script>
    <script>
    $(document).on("scroll", function () {
        var pageTop = $(document).scrollTop()
        var pageBottom = pageTop + $(window).height()
        var tags = $("section")
        
        for (var i = 0; i < tags.length; i++) {
        var tag = tags[i]
        
        if ($(tag).position().top < pageBottom) {
        $(tag).addClass("visible")
        } else {
          $(tag).removeClass("visible")
        }
        }
        })
    </script>
  </head>

<!-- Current Projects -->
<%= live_render(@conn, LarcWebsiteWeb.ProjectsLive) %>

<!-- Home Info -->
<%= live_render(@conn, LarcWebsiteWeb.HomeLive) %>

<!-- The Team -->
<%= live_render(@conn, LarcWebsiteWeb.TeamLive) %>

<!-- Contact Us Parallax -->
<%= live_render(@conn, LarcWebsiteWeb.ContactLive) %>
</html>
